<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancel</title>
    <style>
        .custom-alert {
            background-color: #f8d7da;
            color: #721c24;
            border: 1px solid #f5c6cb;
            padding: 10px;
            margin-bottom: 20px;
        }
    </style>
    
</head>

<body>
  
    <script>
        function showAlert(message) {
            alert(message);

            window.location.href = '/'; 
        }
        showAlert("Due to current weather conditions, ticket purchase for the tour is not available. Please check back later.");
    </script>
</body>

</html>
