<!-- views/home.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Travel Agency</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        .custom-height {
            height: 500px;
            width: 4000px;
        }
    </style>
</head>

<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/travel/travelagency">Travel Agency</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/travel/tourHistory">History</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/history"> Manage History</a>
                </li>
            </ul>
        </div>
    </nav>

    <img src="/img/Meaning-of-travelling.jpeg" class="img-fluid rounded mx-auto d-block shadow-lg custom-height "
        alt="Meaning of Travelling">

    <!-- Main Content -->
    <div class="container mt-4">
        <h2 class="text-center">Welcome to Our Enchanting Travel World!</h2>
        <br>
        <p class="text-center lead">Embark on an extraordinary journey with us as we craft magical experiences tailored
            just for you. Whether you dream of exploring exotic landscapes, lounging on pristine beaches, or immersing
            yourself in vibrant cultures, our passionate team is dedicated to turning your travel fantasies into
            unforgettable realities.</p>

        <!-- Our Contacts Section -->
        <section class="mt-4">
            <h3 class="text-center">About Us</h3>
            <div class="row">
                <!-- Contact 1 -->
                <div class="col-md-4">
                    <div class="card shadow">
                        <img src="/img/image_3.jpeg" class="card-img-top" alt="Contact 1">
                        <div class="card-body">
                            <h6 class="card-title"> Continuously striving for excellence, our travel agency goes beyond
                                the ordinary to provide unparalleled service
                            </h6>

                        </div>
                    </div>
                </div>
                <!-- Contact 2 -->
                <div class="col-md-4">
                    <div class="card shadow">
                        <img src="/img/Black_Rock_600_x_900.jpeg" class="card-img-top" alt="Contact 2">
                        <div class="card-body">
                            <h6 class="card-title">
                                At our travel agency, we are committed to making your travel dreams come true and creating unforgettable experiences.</h6>

                        </div>
                    </div>
                </div>
                <!-- Contact 3 -->
                <div class="col-md-4">
                    <div class="card shadow">
                        <img src="/img/Plyazhi-Turtsii.jpeg" class="card-img-top" alt="Contact 3">
                        <div class="card-body">
                            <h6 class="card-title">Our team of dedicated travel experts is here to guide you through
                                every step, ensuring your trip is seamless. </h6>


                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="container mt-5">
        <div class="card-body">
            
            <p class="card-text mt-3 text-center">Feel free to reach out to us for any inquiries, travel assistance, or
                to plan your next adventure. We're here to make your travel dreams come true!</p>
                <p class="card-text text-center">Phone: 8-702-345-45-65</p>
            <p class="card-text text-center">Email: laura@gmail.com</p>
        </div>
    </div>
    </div>


    <!-- Footer -->
    <footer class="bg-dark mt-4 py-3">
        <div class="container">
            <p class="mb-0 text-white text-center">Kazikhanova Laura | SE-2209</p>
        </div>
    </footer>



    <!-- Bootstrap JS and Popper.js (for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



</body>

</html>
